html {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-y: auto !important;
}

.custom-popup .leaflet-popup-content-wrapper {
  width: 30vw !important;
  height: 30vh !important;
  overflow: hidden !important;
  display: flex;
}

.custom-popup .leaflet-popup-content {
  height: 100% !important;
  width: 100% !important;
  overflow-y: auto !important;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 10px;
  box-sizing: border-box;
}

.custom-popup .leaflet-popup-content::-webkit-scrollbar {
  width: 6px;
}

.custom-popup .leaflet-popup-content::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}